# General
.DS_Store
.idea/
*.iml

# Flutter & Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcshareddata/swiftpm/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# Firebase & Keys
serviceAccountKey.json
firebase.json

# Node.js (si usas scripts JS para Firestore)
node_modules/
package-lock.json
package.json

# Archivos de símbolos
app.*.symbols

# Otros archivos sensibles o temporales
*.log
*.tmp
